venv/*
!venv/Lib/
venv/Lib/site-packages/*
!venv/Lib/site-packages/rasa/
venv/Lib/site-packages/rasa/*
!venv/Lib/site-packages/rasa/core
venv/Lib/site-packages/rasa/core/*
!venv/Lib/site-packages/rasa/core/channels/
venv/Lib/site-packages/rasa/core/channels/*
!venv/Lib/site-packages/rasa/core/channels/botframework.py